body{
	color:black;
	background-color:#C36279;
}

.header {
  display: block;
  height: 200px;
}

.nav {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #FFFFFF;
}

li a {
  font-size: 20px;
  display: block;
  color: #C36279;
  padding: 50px;
  text-decoration:none;
  font-family: "Geneva", Geneva, sans-serif;
}


.middle{
  margin: 0 auto;
	float: right;
  height: 489px;
  width: 1045px;
  display: block;
}

.product{
		max-width: 300px;
		max-height: 300px;
		margin: 80px 20px 20px 5px;
}

.footer {
  background-color: #80BA5D;
	height:130px;
	clear:both;
}

.address{
	text-align: left;
	margin-left: 10px;
	color: #C36279;
	font-family: cursive;
}
#aline {
	color: #80BA5D
}

.logo{
	height: 50px;
	width: 50px;
	margin: 30px 10px 10px 10px;
	float: left;
}

#currenttime{
	font-size: 50px;
	text-align: center;
	font-family: cursive;
	color: #C36279;
}
